@model Ogame.Models.PlanetView.PlanetDetailsViewInterface

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Planet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._planet.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Dist_to_star)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Dist_to_star)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.X)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.X)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Y)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Y)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Metal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Metal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Cristal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Cristal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Deuterium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Deuterium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._planet.Energy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._planet.Energy)
        </dd>
        @foreach(var item in Model._planet.Mines)
        {
            <dt>
                @Html.DisplayNameFor(model => model._planet.Mines)
            </dt>
            <dd>
                @item.Level
            </dd>
        }
    </dl>
</div>
<div>
    @if (Model._user.IsAdmin)
    {
        <p><a asp-action="Edit" asp-route-id="@Model._planet.PlanetID">Edit</a> | <a asp-action="Index">Back to List</a></p>
    }
    else
    {
        <p><a asp-action="Index">Back to List</a></p>
    }
</div>
