@model Ogame.Models.PlanetView.PlanetDetailsViewInterface

@{
    ViewData["Title"] = "Planet <" + Model._planet.Name + ">";
    var user = ViewData["user"] as User;
}

<a asp-controller="Dashboard" asp-action="" class="back-button">
    <img class="back-icon" src="/images/back-icon.png" />
    Back to Planets
</a>

<div class="planet-container">
    <h2>
        @Html.DisplayFor(model => model._planet.Name)
    </h2>
    <p class="dist-star">Star: @Html.DisplayFor(model => model._planet.Dist_to_star) millions km</p>

    <div class="row planet-resources">
        <span class="col planet-resources-item"><b>Cristal:</b> @Html.DisplayFor(model => model._planet.Cristal)</span>
        <span class="col planet-resources-item"><b>Metal:</b> @Html.DisplayFor(model => model._planet.Metal)</span>
        <span class="col planet-resources-item"><b>Deut:</b> @Html.DisplayFor(model => model._planet.Deuterium)</span>
        <span class="col planet-resources-item"><b>Energy:</b> @Html.DisplayFor(model => model._planet.Energy)</span>
    </div>
</div>

<h3>Mines</h3>
<div class="row">
    @foreach (var mine in ViewData["mines"] as List<Mine>)
    {
        <div class="col-md-4">
            <div class="entity-container">
                <img class="entity-icon" src="/images/mine-icon.png" />
                <span class="entity-name">@mine.Ressource</span>
                <div class="row entity-properties">
                    <span class="entity-property">@mine.CollectRate per 5 min</span>
                    <span class="entity-property">Level @mine.Level</span>
                </div>
                <div class="row entity-properties">
                    <span class="entity-property">@mine.Action.Type</span>
                </div> 
                @{
                    var actionCost = Ogame.Data.ActionCost.UpgradeMineCost(mine);
                    var canUpgrade = Ogame.Data.ActionCost.CanUpgrade(actionCost, Model._planet);
                }
                @if (canUpgrade)
                {
                    <a class="upgrade-button" asp-controller="Planets" asp-action="UpgradeMine" asp-route-id="@mine.MineID"><img class="upgrade-icon" src="/images/upgrade-icon.png" /></a>
                }
            </div>
        </div>
    }
</div>

<h3>Defense</h3>
<div class="row">
    @foreach (var defense in ViewData["defenses"] as List<Defense>)
    {
        <div class="col-md-4">
            <div class="entity-container bg-blue">
                <img class="entity-icon" src="/images/defense-icon.png" />
                <span class="entity-name">Defense D-@defense.DefenseID</span>
                <div class="row entity-properties">
                    <span class="entity-property">@defense.Energy energy</span>
                    <span class="entity-property">Level @defense.Level</span>
                </div>
                <div class="row entity-properties">
                    <span class="entity-property">@defense.Action.Type</span>
                </div>
                @{
        var actionCost = Ogame.Data.ActionCost.UpgradeDefenseActionCost(defense);
        var canUpgrade = Ogame.Data.ActionCost.CanUpgrade(actionCost, Model._planet);
                }
                @if (canUpgrade)
    {
            <a class="upgrade-button" asp-controller="Planets" asp-action="UpgradeDefense" asp-route-id="@defense.DefenseID"><img class="upgrade-icon" src="/images/upgrade-icon.png" /></a>
}

            </div>
        </div>
    }
</div>

<h3>Spaceships</h3>
<div class="row">
    @{
        var actioncost = Ogame.Data.ActionCost.createSpaceshipCost();
        var canAddSpaceship = Ogame.Data.ActionCost.CanCreateSpaceship(actioncost, Model._planet);
    }

    @if (canAddSpaceship)
    {
        <div class="col-md-4 padding-add-new">
            <div class="entity-container entity-container-hover" onclick="location.href='@Url.Action("CreateSpaceship", "Planets", new { id = Model._planet.PlanetID })'">
                <img class="entity-icon" src="/images/spaceship-icon.png" />
                <span class="entity-name">Add New</span>
            </div>
        </div>
    }

    @foreach (var spaceship in ViewData["spaceships"] as List<Spaceship>)
    {
        <div class="col-md-4">
            <div class="entity-container bg-orange">
                <img class="entity-icon" src="/images/spaceship-icon.png" />
                <span class="entity-name">Spaceship S-@spaceship.SpaceshipID</span>
                <div class="row entity-properties">
                    <span class="entity-property">@spaceship.Energy energy</span>
                    <span class="entity-property">Level @spaceship.Level</span>
                </div>
                <div class="row entity-properties">
                    <span class="entity-property">@spaceship.Action.Type</span>
                </div>
                @{
                    var actionCost = Ogame.Data.ActionCost.UpgradeSpaceshipActionCost(spaceship);
                    var canUpgrade = Ogame.Data.ActionCost.CanUpgrade(actionCost, Model._planet);
                }
                @if (canUpgrade)
                {
                    <a class="upgrade-button" asp-controller="Planets" asp-action="UpgradeSpaceship" asp-route-id="@spaceship.SpaceshipID"><img class="upgrade-icon" src="/images/upgrade-icon.png" /></a>
                }
                @if (spaceship.Level > 0)
                {
                    <a class="fight-button" asp-controller="Spaceships" asp-action="Attack" asp-route-id="@spaceship.SpaceshipID"><img class="fight-icon" src="/images/fight-icon.png" /></a>
                }
            </div>
        </div>
    }
</div>

<h3>Solar Panel</h3>
<div class="row">
    @foreach (var solarpanel in ViewData["solarPanels"] as List<SolarPanel>)
    {
        <div class="col-md-4">
            <div class="entity-container bg-yellow">
                <img class="entity-icon" src="/images/solar-panel-icon.png" />
                <span class="entity-name">SolarPanel S-@solarpanel.SolarPanelID</span>
                <div class="row entity-properties">
                    <span class="entity-property">@solarpanel.CollectRate per 5 min</span>
                    <span class="entity-property">Level @solarpanel.Level</span>
                </div>
                <div class="row entity-properties">
                    <span class="entity-property">@solarpanel.Action.Type</span>
                </div>
                @{
                    var actionCost = Ogame.Data.ActionCost.UpgradeSolarPanelCost(solarpanel);
                    var canUpgrade = Ogame.Data.ActionCost.CanUpgrade(actionCost, Model._planet);
                }
                @if (canUpgrade)
                {
                    <a class="upgrade-button" asp-controller="Planets" asp-action="UpgradeSolarPanel" asp-route-id="@solarpanel.SolarPanelID"><img class="upgrade-icon" src="/images/upgrade-icon.png" /></a>
                }
            </div>
        </div>
    }
</div>

<style>
    .body-content {
        padding-top: 20px;
    }

    .back-button {
        color: black;
        background-color: white;
        padding: 10px 8px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 100;
        transition: all 100ms ease;
    }

    .back-button:hover {
        transition: all 100ms ease;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .back-icon {
        height: 50px;
    }

    .planet-container {
        background: linear-gradient(45deg,#e25d5e, #d7addeb0);
        padding: 45px 0;
        text-align: center;
        border-radius: 15px;
        box-shadow: #000000 0px 0px 6px -1px;
        transition: all 300ms ease;
        margin-bottom: 20px;
        margin-top: 10px;
        position: relative;
    }

    .planet-resources {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        font-variant: small-caps;
    }

    .planet-resources-item {
        background-color: #292929;
        padding: 2px 4px;
        border-radius: 6px;
    }

    .dist-star {
        font-weight: 100;
        font-size: 18px;
    }

    .entity-container {
        background-color: white;
        color: black;
        padding: 40px 0;
        text-align: center;
        border-radius: 15px;
        box-shadow: #000000 0px 0px 6px -1px;
        transition: all 200ms ease;
        margin-bottom: 10px;
    }

    .entity-container-hover:hover {
        background-color: black;
        color: white;
        transition: all 200ms ease;
        cursor: pointer;
    }

    .entity-icon {
        height: 50px;
    }

    .entity-name {
        margin-left: 20px;
        vertical-align: -webkit-baseline-middle;
        font-weight: bold;
        font-size: 30px;
        font-variant: small-caps;
    }

    .entity-properties {
        position: absolute;
        right: 0;
        bottom: 20px;
        left: 0;
        color: white;
    }

    .entity-property {
        background-color: #292929;
        padding: 2px 4px;
        border-radius: 6px;
    }

    .upgrade-button {
        position: absolute;
        top: -20px;
        right: 0;
        background-color: #f57979;
        border-radius: 40px;
        padding: 2px;
        box-shadow: black 0px 0px 5px 0px;
        transition: all 500ms ease;
    }

    .upgrade-button:hover {
        transition: all 500ms ease;
        border-radius: 10px;
    }

    .upgrade-icon {
        height: 50px;
    }

    .fight-button {
        position: absolute;
        bottom: -12px;
        right: 0;
        background-color: white;
        border-radius: 40px;
        padding: 10px;
        box-shadow: black 0px 0px 5px 0px;
        transition: all 500ms ease;
    }

    .fight-button:hover {
        transition: all 500ms ease;
        border-radius: 10px;
    }

    .fight-icon {
        height: 35px;
    }

    .bg-blue {
        background-color: #83d1ef;
    }

    .bg-orange {
        background-color: #ff9c7e;
    }

    .bg-yellow {
        background-color: #ffee73;
    }

    .padding-add-new {
        padding-right: 50px;
    }
</style>
