@model IEnumerable<Ogame.Models.Planet>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dist_to_star)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.X)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Y)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Metal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cristal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deuterium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Energy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dist_to_star)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.X)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Y)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cristal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deuterium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanetID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanetID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
