@model Ogame.Models.Caps

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Caps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Growth_factor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Growth_factor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metal_cap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metal_cap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cristal_cap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cristal_cap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deuterium_cap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deuterium_cap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Energy_cap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Energy_cap)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Repair_factor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Repair_factor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CapsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
