@model Ogame.Models.SpaceshipView.SpaceshipDetailsViewInterface

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spaceship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._spaceship.Planet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._spaceship.Planet.PlanetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._spaceship.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._spaceship.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._spaceship.Energy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._spaceship.Energy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._spaceship.Caps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._spaceship.Caps.CapsID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._spaceship.Action)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._spaceship.Action.TemporalActionID)
        </dd>
    </dl>
</div>
<div>
    @if (Model._user.IsAdmin)
    {
        <p>
            <a asp-action="Edit" asp-route-id="@Model._spaceship.SpaceshipID">Edit</a> | <a asp-action="Index">Back to List</a>
        </p>
    }
    else
    {
        <p><a asp-action="Index">Back to List</a></p>
    }
</div>
