@model Ogame.Models.TemporalAction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TemporalAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Due_to)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Due_to)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Target.PlanetID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TemporalActionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
